@font-face {
    font-family: 'Muller';
    src: url(/fonts/MullerRegular.ttf);
}

@font-face {
    font-family: 'Muller';
    font-weight: 700;
    src: url(/fonts/MullerBold.ttf);
}

@font-face {
    font-family: 'Soloist';
    src: url(/fonts/Soloist.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Muller';
    font-size: 1rem;
    text-decoration: none;
    color: rgb(26, 26, 26);
}

body {
    background-color: #fafafa;
    padding: 0px;
}

#root {
    width: 100%;
    height: 100%;
}

.max-app-width {
    width: 100%;
    height: 100%;
    max-width: 1024px;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 128px 0px;
    gap: 96px;
    min-height: 100vh;
    z-index: 10;
    overflow: hidden;
}

#scene {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.1;
}

.header {
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 16px 0px;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #333333;
    font-size: 1.5rem;
}

.header-left {
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.header-right {}

.header-container a {
    /* transition: all 0.15s ease; */
}

.header-container a:hover {
    font-weight: 700;
}

.prize-distribution {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 24px;
    padding: 20px;
}

.prize-column {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;
}

.prize-bar {
    width: 40px;
    background-color: grey;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.prize-bar::before {
    content: attr(data-amount);
    position: absolute;
    top: -3rem;
    white-space: nowrap;
    transform: rotate(-90deg);
}

.prize-bar-100k {
    height: 120px;
    background-color: #0000FF;
}

.prize-bar-50k {
    height: 90px;
    background-color: #8080FF;
}

.prize-bar-20k {
    height: 60px;
    background-color: #D9D9D9;
}