@font-face {
    font-family: 'Micra';
    src: url('/fonts/Micra-Bold.eot');
    src: local('/fonts/Micra Bold'), local('/fonts/Micra-Bold'),
        url('/fonts/Micra-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Micra-Bold.woff') format('woff'),
        url('/fonts/Micra-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Micra';
    src: url('/fonts/Micra.eot');
    src: local('/fonts/Micra'),
        url('/fonts/Micra.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Micra.woff') format('woff'),
        url('/fonts/Micra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/MullerRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Muller';
    font-weight: 700;
    src: url('/fonts/MullerBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Soloist';
    src: url('/fonts/Soloist.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Muller';
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: #1a1a1a;
}

body {
    background-color: #FFFFFF;
    padding: 0px;
}

#root {
    width: 100%;
    height: 100%;
}

.max-app-width {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    padding: 0px 16px;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 96px 0px;
    width: 100%;
    height: 100%;
    gap: 128px;
    min-height: 100vh;
    z-index: 10;
    overflow: hidden;
}

#scene-1 {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: 2;
}

#scene-2 {
    position: absolute;
    top: 90%;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: 2;
}

#scene-3 {
    position: absolute;
    top: 180%;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: 2;
}

a:hover {
    font-weight: 700;
}

.background {
    position: absolute;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.1;
}


.top-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 75%;
    background: linear-gradient(to bottom, #0000FF, #FFFFFF);
    z-index: 1;
}

.header {
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 16px 0px;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #333333;
    font-size: 1rem;
}

.header-left {
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-banner {
    position: relative;
    width: 96%;
    height: 100%;
}

.main-banner img {
    width: 100%;
    height: 100%;
}

.main-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.main-description p {
    font-size: 0.85rem;
    color: #FFFFFF;
    padding: 0px 16px;
}

.krutie {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.orgs {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.orgs-title {
    padding: 8px 0px;
    width: 100%;
    text-align: center;
    font-family: 'Micra';
    color: #959595;
    background: #FFFFFF;
}

.orgs-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px 0px;
    gap: 16px;
    width: 100%;
    background: #fbfbff;
}

.orgs-item {
    max-width: 200px;
}

.orgs-item img {
    width: auto;
    height: 100%;
    max-height: 70px;
}

.prize-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
}

.prize-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 120px 0px;
    gap: 16px;
    width: 100%;
}

.prize-title {
    font-family: 'Micra';
    color: #333333;
    font-size: 3.5rem;
    text-align: center;
}

.prize-amount {
    font-family: 'Micra';
    color: #0000FF;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
}

.prize-distribution {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 24px;
    padding: 20px;
}

.prize-column {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;
}

.prize-bar {
    width: 40px;
    background-color: grey;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Micra';
    color: #333333;
}

.prize-bar::before {
    content: attr(data-amount);
    position: absolute;
    top: -4rem;
    white-space: nowrap;
    transform: rotate(-90deg);

}

.prize-bar-100k {
    height: 120px;
    background-color: #0000FF;
}

.prize-bar-50k {
    height: 90px;
    background-color: #8080FF;
}

.prize-bar-20k {
    height: 60px;
    background-color: #D9D9D9;
}

.prize-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 12px;
}

.prize-description-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 24px;
}

.prize-description-top-item-blue {
    color: #0000FF;
    font-weight: 700;
    font-size: 1.5rem;
}

.prize-description-top-item {
    font-size: 2rem;
    margin-bottom: 16px;
}

.prize-description-bot-item {
    font-size: 1.15rem;
    color: #1A1A1A;
    padding: 0 16px;
}

.cases-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 32px;
}

.cases-title {
    font-family: 'Micra';
    color: #333333;
    font-size: 3.5rem;
    text-align: center;
}

.cases-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px 0px;
}

.cases-item {
    max-width: 340px;
}

.cases-item img {
    width: 100%;
    height: 100%;
}

.steps-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 32px;
}

.steps-title {
    font-family: 'Micra';
    color: #333333;
    font-size: 3.5rem;
}

.steps-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.step-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.step-number {
    font-size: 3rem;
    font-family: 'Micra';
    color: #FFFFFF;
    padding: 48px;
    margin-right: 16px;
    background: linear-gradient(90deg, #0000FF 0%, rgba(255, 255, 255, 0) 100%);
    width: 70%;
}

.step-number span {
    font-size: 2rem;
    color: #FFFFFF;
    font-family: 'Micra';
}

.step-info-1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 40%;
}

.step-info-1 div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.step-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 40%;
}

.step-info p {
    text-align: right;
}

.step-info-1 p {
    text-align: right;
}

.step-dates {
    font-size: 1.25rem;
    font-weight: 700;
    color: #000000;
}

.step-description {
    font-size: 1.25rem;
    color: #000000;
}

.step-result {
    font-size: 1.25rem;
    color: #000000;
    margin-top: 8px;
}

.reg-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    gap: 16px;
    text-transform: uppercase;
}

.reg-block-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
}

.reg-block-top-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: #CCCCCC;
    font-size: 1.5rem;
}

.reg-block-register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: #0000FF;
    color: #FFFFFF;
    font-family: 'Micra';
    font-size: 2.5rem;
}

.reg-block-telegram {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 55%, rgba(0, 0, 0, 0) 100%);
    font-size: 1.5rem;
}

.reg-block-bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 16px 32px 16px;
    gap: 16px;
}

.reg-block-bot p,
.reg-block-bot a {
    font-size: 1.5rem;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    background-color: #CCCCCC;
}

.footer p {
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}

.hidden {
    display: block;
}

@media screen and (max-width: 768px) {
    .content {
        gap: 48px;
    }

    .hidden {
        display: none;
    }

    .prize-bar {
        width: 80px;
    }

    .header {
        display: none;
    }

    .content {
        padding: 64px 0px 128px 0px;
    }

    .orgs-list {
        flex-direction: column;
        gap: 32px;
    }

    .prize-title {
        font-size: 2rem;
    }

    .prize-amount {
        font-size: 2.25rem;
    }

    .prize-description-top {
        gap: 8px;
    }

    .prize-description-bot-item {
        text-align: center;
        font-size: 1rem;
    }

    .steps-list {
        gap: 8px;
    }

    .step-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .step-number {
        width: 100%;
        text-align: center;
        margin: 0;
        font-size: 2rem;
    }

    .prize-title,
    .cases-title,
    .steps-title {
        font-size: 2rem;
        text-align: center;
    }

    .step-info,
    .step-info-1 {
        padding: 16px 0px 0px 0px;
        width: 100%;
        text-align: center;
        font-size: 0.875rem;
    }

    .step-info p,
    .step-info-1 p {
        text-align: center;
    }

    .reg-block-top {
        flex-direction: column;
        gap: 8px;
    }

    .reg-block-top-btn {
        width: 100%;
    }

    .reg-block-bot p,
    .reg-block-bot a {
        font-size: 1rem;
    }

    .footer {
        flex-direction: column;
        gap: 8px;
    }

    .prize-description-top {
        max-width: 240px;
        padding: 0px 0px 0px 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
}

@media screen and (max-width: 500px) {
    .background {
        margin: 0px 0px 0px -80%;
    }

    .content {
        padding: 32px 0px 64px 0px;
    }

    .main-description p {
        font-size: 0.65rem;
    }

    .prize-title,
    .cases-title,
    .steps-title {
        font-size: 1.5rem;
        text-align: center;
    }

    .prize-amount {
        font-size: 1.65rem;
    }

    .step-number {
        font-size: 1.5rem;
        padding: 16px;
    }

    .step-number span {
        font-size: 1.25rem;
    }

    .step-dates,
    .step-description,
    .step-result {
        font-size: 0.875rem;
    }

    .reg-block-register {
        font-size: 1.25rem;
    }

    .reg-block-telegram {
        font-size: 0.875rem;
    }

    .footer p {
        font-size: 0.875rem;
    }
}